@media screen and (min-width: 701px) {

    .text, .textwhite {
        width: 75%;
        font-size: 12pt;
        line-height: 24pt;
    }
    
    .links {
        width: 100%;
    }
    
    .links ul {
        margin-left: -5%;
    }   
    
    .links, .links li {
        white-space: nowrap;
        padding-left: 0;
        margin-left: 0;
    }
    
    #icon {
        width: 15%;   
    }
    
    .head, .headwhite {
        font-size: 50pt;   
        margin-top: 3%;
    }
    
    .headwhite {
        margin-top: 8%;   
    }
    
    #form {
        width: 70%;  
    }
    
    #titlehead {
        font-size: 50pt;   
        width: 80%;
        margin: 0 auto;
        padding-top: 20%;
    }
    
    #desc {
        font-size: 20pt;   
    }
    
    #enter {
        font-size: 16pt; 
    }
    
    #about {
        padding-top: 5%;   
    }
    
    #contact {
        padding-top: 10%;
    }
    
    #comingsoon {
        font-size: 50pt;   
    }
    
    #about {
        height: 100vh;   
    }
    
    .item {
        padding: 1%;
    }
        
    footer p{
        margin: 0;
        padding: 0;
    }
    
    #designmode {
        width: 400px;
    }
    
    .caption {
        width: 400px;    
    }
}
